@import "compass";

body {
    margin: 0;
    overflow: hidden;
}

.panel {
    background-color: rgba(76,76,76,1);
    @include filter-gradient(#ffffff, #ededed, vertical);
    @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%));
}

#header {
    height: 25px;
    line-height: 25px;
    width: 100%;

    font-family: sans-serif;
    color: #333;

    a {
        color: #444;
        text-decoration: underline;
    }

    .author {
        float: right;
        padding-right: 10px;
    }

    .menu-button {
        padding-left: 10px;
    }

    .dilimiter {
        width: 1px;
        margin: 0 3px;
        border-right: 1px solid #aaa;
    }

    .logo {
        font-weight: bold;
        padding-left: 5px;
    }
}

#mainContainer {

}

#controller-container {
    height: 80%;
}

#bottom-container {
    height: 20%;
}

#visualizer-container {
    float: left;
}
